.modal.hide#change_success
  .modal-body
    %button.close(type="button" id='close') &times
    .text-center
      %span(style='font-size:30px')
        修改成功！
  .modal-footer
    =link_to '确定', :manager_index, :method=>'get', :class=> 'btn btn-default'


:javascript
  show_change_success()
