.modal.hide#change_success
  .modal-body
    %button.close#close(type="button") &times
    .text-center
      %span(style='font-size:30px')
        修改成功！
  .modal-footer
    =link_to '确定', manager_index_path, :class=> 'btn btn-default'


:javascript
  show_change_success()
