.header(style="text-align:center" )
  %h2活动通
.modal.fade.in(style="background:#F5F5F5;margin-top:5%")
  .index-login.padding
    %br
    .input-prepend
      %span.add-on-1
        帐号
      %input.wid-350(ng-model='user_name' placeholder="请输入用户名" )
    .input-prepend
      %span.add-on-1
        密码
      %input.wid-350(ng-model='user_password' placeholder="请输入密码" )
    %br
    .btn-danger.active

    .btn(style="width:150px" )
      登录


