.modal-header(style="background:#F5F5F5")
  %br
  .h4-2
    %p
      获胜者：
      =@winner.at(0).name
    %p
      出价：
      =@winner.at(0).price
      元
    %p
      手机号：
      =@winner.at(0).phone
  %br