=render '/users/user_header'
.box-1
  .modal-header(style="background:#F5F5F5")
    %span.h4-1 活动信息
  %table.table.table-striped
    %thead
      %tr.bold
        %td 编号
        %td 活动名称
        %td 报名人数
        %td 竞价次数
    %tbody
      -@pages.each do |t|
        %tr
          %td
            =t[:id]
          %td
            =link_to t[:name], bid_list_path(:activity_name => t[:name])
          %td
            =link_to t[:bm_num]
          %td
            =link_to t[:jj_num]
          -#%td
            =link_to "删除", del_user_path(:id => t.id), :method => :delete, :confirm=>"您确定要删除\"#{t.name}\"？"
            =link_to "修改密码", change_password_path(:name=>t.name)
  .modal-footer
    = will_paginate(@pages)